@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,300;0,500;0,800;1,800;1,900&display=swap');
:root {
  --color-hightlight: #da6846;
  --color-light: #f5f2ee;
  --color-dark: #2f3020;
  --color-inter: #596235;
}

body {
  background-color: #fcf9f4;
  line-height: 1.25;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 1vw;
  color: var(--color-dark);
}

.container {
  background-color: #fff;
  width: 100%;
  height: auto;
  margin: 10px auto;
  padding: 15px;
  border-radius: 5px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.controls {
  display: flex;
  flex-direction: column;
}
